.app-wrapper {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.component-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.machine-dispayer {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
}

.machine-dispayer__info {
  display: flex;
  flex-grow: 1;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.machine-dispayer__actions {
  display: flex;
  flex-grow: 1;
  width: 100%;
  justify-content: space-evenly;
}
